body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
    
}

.contenitore {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}